body{
    background-color:black;
    color:rgb(11, 156, 31);
}
h1{
    text-align:center;
    color:red;
}
h2{
    text-align:center;
    color:rgb(168, 15, 173);
}
h3{
    text-align:center;
    color:rgb(255, 255, 255);
}
h4{
    text-align:center;
    color:black;
}
p{
    color:gray;
}