p {
    text-align: center;
}

h1 {
    text-align: center;
}

[type=button] {
    background-color: gray;
    text-align: center;
}

section {
    text-align: left;
}
li{
    list-style: none;
}
body {
    background-color: rgb(241, 204, 229);
}

footer {
    margin: 20px;
}