/*010*/
body{
  color: black;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  align-items: center;
}
input[type="submit"] {
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  background-color: rgb(202, 202, 202);
  border-radius: 6px;
  border: 2px solid #ffffff;
  width:50px;
  margin: 1.5%;
  
}
input[type="text"] {
  width: 325px;
  height: 30px;
  border: 2px solid;
}
form {
  background-color: #000000;
  padding: 20px;
  width: 340px;
  height: 500px;
  border: 3px solid;
}
 h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#resultado{
  width: 24em;
  height: 4em;
}