body{
    background-color:black;
    color:black;
}
h1{
    text-align:center;
    color:red;
}
h2{
    text-align:center;
    color:green;
}
h3{
    text-align:center;
    color:blue;
}
h4{
    text-align:center;
    color:black;
}
p{
    color:gray;
}