/*100*/
#FotoVito {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*100*/
#fotoVito {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*100*/
#vito {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*100*/
#reparto {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}