/*001*/
body{
    font: 400 0.938em Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color:white;
    background-color:black ;
  
}
/*001*/
h1{
   
    line-height: 1.8;
    color:white;
    background-color:black ;
    padding: 1.563em 1.563em;
    text-align: center;
}
/*001*/
h2{
    font: 400 1.5em Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color:white;
    background-color:black ;
    
    padding: 1.563em 1.563em;
}
/*001*/
h3 {
    color:white;
    background-color:black ;
    text-transform: uppercase;
    text-align: center;
    padding: 1.563em 1.563em;    
}
/*001*/
p{
    
    line-height: 1.8;
    color:white;
    background-color:black ;
    text-align: justify;
}
/*001*/
table {
    color:white;
    background-color:black ;
    text-transform: uppercase;
    width: 70%;
    border: 0.313em solid rgb(12, 91, 194);
}
/*001*/
th,
/*001*/
td{
  border: 0.313em solid rgb(12, 91, 194) ;
}

nav li{
    display: inline;
    float: left;
}
nav a{
    display: block;
    padding: 0.5em;
}