/*100*/
#Foto1 {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*100*/
#foto2 {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*100*/
#foto3 {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*100*/
#foto4 {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}