/*010*/
body{
    color: black;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    align-items: center;
  }
  input[type="submit"] {
    padding: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(18, 112, 54);
    border: 6px;
    border: 2px solid #010738;
    width: 200px;
    height: 50px;
  }
  li{
    color: red;
  }
  
 